@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#background-image{
    background-image: url("image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    filter: blur(4px);
}

*{
    margin: 0px;
}

#container{
    background-color: rgb(252, 251, 230);
    width: 50%;
    margin: auto;
    text-align: center;
    z-index: 2;
    position: absolute;
    top: 20%;
    left: 25%;
    height: 50%;
    border-radius: 4vh;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}

h1{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background-color: rgb(116, 78, 47);
    color: azure;
    font-size: 3vh;
}

li{
    text-align: left;
    font-size: 1.7vh;
}

button{
    margin-top: 10vh;
    font-size: 4vh;
    width: 89%;
    background-color: transparent;
    border-radius: 5px;
    border-width: 1%;
}

button:hover{
    width: 90%;
    border-width: 0px;
    color: azure;
    background-color: rgb(116, 78, 47);
    transition: 200ms;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

ul{
    padding-left: 0px;
    width: 100%;
    padding-top: 1.5vh;
	list-style: none;
}

li{
    padding-top: .5vh;
    padding-left: 1vh;
}

label{
    padding-right: 1vh;
    border-radius: 2vh;
    padding-left: 1vh;
}

#PA{
    margin-top: 2vh;
}

#Certas{
    color: green;
    margin-top: 7vh;
}

#Erradas{
    color: red;
    margin-top: 7vh;
}

h2{
    font-size: 3vh;
}